{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="credentials col-12" style="width:500px;" >
        <div>
            <h1>Registration</h1>
        </div>
        <form method="post">
            {% csrf_token %}
        <div>
            <label for="username">Username</label><br>
            <input id="username" type="text" name="uname" required>
        </div>
        <div>
            <label for="password" >Password</label><br>
            <input id="password" type="password" name="password" required>
        </div>
            <div>
            <label for="confpassword" style="font-size:18px;margin-right:180px;">Confirm Password</label><br>
            <input id="confpassword" type="password"  name="conf_password" required>
        </div>
        <div>
            <button type="submit" >Register</button>
        </div>
        </form>
    </div>
</div>

{% for msg in messages %}
<p style="color:red;font-weight:bold; text-align:center;">{{msg}}</p>
{% endfor %}

{% endblock %}